@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    font-family: "Roboto", Helvetica, sans-serif;
}

header, .hero, footer {
    background: #1F2937;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 48px;
}

#logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 800;
}

nav {
    display: flex;
    gap: 12px;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

a:hover {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 5px;
}

.hero {
    display: flex;
    justify-content: center;
    padding: 24px 48px;
    gap: 48px;
}

.hero-left {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

#hero-title {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.hero-para {
    font-size: 18px;
    color: #E5E7EB;
    text-align: justify;
}

#hero-button {
    width: 100px;
    background-color: #3882F6;
    text-align: center;
    padding: 5px;
    color: #E5E7EB;
    font-weight: 700;
    border-radius: 8px;
}

.hero-right img {
    max-width: 400px;
    height: auto;
}

.info-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 36px 0;
}

.info-section img {
    max-width: 150px;
    height: auto;
}

#info-title {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.items {
    display: flex;
    gap: 80px;
    padding: 15px;
    justify-content: center;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.item-text {
    font-size: 18px;
}

.quote-section {
    padding: 60px;
    background: #E5E7EB;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px;
}

#quote {
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
    text-align: center;
}

#credit {
    font-size: 24px;
    font-weight: 800;
}

.cta-section {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cta {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #3882F6;
    padding: 36px;
    color: #F9FAF8;
    border-radius: 8px;
    width: 800px;
    height: 50px;
}

.cta-text {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 8px;
    font-size: 18px;
}

#cta-heading {
    font-size: 24px;
    font-weight: 700;
}

.cta-right {
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

#cta-button {
    border: 3px solid #E5E7EB;
    border-radius: 8px;
    padding: 8px 24px;
    font-size: 20px;
    font-weight: 700;
}

footer {
    display: flex;
    height: 100px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: #F9FAF8;
    gap: 12px;
}